<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home added</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-100 h-screen">
    <div class="max-w-md mx-auto p-4 mt-12 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold text-green-500 text-center">Home added successfully!</h1>
        <a href="/" class="block text-center mt-4 text-blue-500 hover:text-blue-700">Go to Home</a>
    </div>
</body>
</html>